/*
= Single product
-------------------- */
.product .quantity-mobile {display: none;}
.product-main-w main section {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}

/*section div.product {
	margin-bottom: 40px;
}*/

.product .e24-product-desktop {
    display: none;
}

.product .e24-product-prices {
    font-family: 'Roboto',sans-serif;
}

.product .e24-product-desktop .e24-product-prices img,
.product .e24-product-desktop .e24-product-prices button {
    width: 100%;
}

.product .e24-product-mobile .e24-product-cat {
	margin-bottom: 20px;
}

.product .e24-product-mobile .e24-product-right h1,
.product .e24-product-mobile .e24-product-right .e24-product-prices,
.product .e24-product-mobile .e24-product-right .tagged_as {
	padding-left: 10px;
}

.product .e24-product-content {
	margin-top: 20px;
}

.product .tagged_as {
	margin-bottom: 20px;
}

.product .e24-product-desktop h1 {
	margin: 20px 0;
}

.product .e24-precio-regular {
	margin-top: 10px;
}

.product .e24-precio-socio {
	margin-bottom: 20px;
}

.product .e24-product-mobile img.wp-post-image {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.product .e24-product-mobile .e24-product-right {
    width: 70%;
    display: inline-block;
}

.product .e24-product-content {
    width: 100%;
}

.product span.tagged_as.mobile {
    display: block;
    margin-bottom: 30px;
}

.product span.tagged_as a {
    color: #838383;
    background: #f0f0f0;
    font-size: 12px;
    padding: 5px;
    margin: 2px 0;
    display: inline-block;
}

.product span.tagged_as.desktop {
    display: none;
}

.e24-precio {
	font-weight: 500;
	padding: 3px 0;
}

.e24-download-button {
	margin-bottom: 15px;
}

.e24-download-button a {
	color: #fff;
}

.e24-precio .orange {
    color: #f27622;
    text-transform: uppercase;
}

form.cart .quantity {
    display: none;
}

.wc-proceed-to-checkout .button-proceed {
	float:left;
	width: 100%;
	display: block;
	text-align: left;
	clear: both;
	margin: 20px 0;
}

/*.e24-product-prices button,
.cart-title-w a,
.wc-proceed-to-checkout a,
.woocommerce-thankyou-button-return a {
    font-weight: 400;
    font-family: 'Raleway',sans-serif;
    font-size: .75rem;
    line-height: 1.25em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: .5rem 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #5789c7;
    border: none;
    transition: all 0.25s ease-out;
    cursor: pointer;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-align-self: flex-end;
    align-self: flex-end;
}*/

.woocommerce-thankyou-button-return a {max-width: 15rem !important;}
.e24-product-prices button, .cart-title-w a, .wc-proceed-to-checkout a {max-width: 100% !important;}

.wc-proceed-to-checkout a.continue-shopping {
    float: left;
    color: #5789c7;
    background: #fff;
    border: 1px solid #5789c7;
}

.e24-att-title {
    float: left;
    font-weight: 600;
    font-size: 12px;
}

/*div.related.products ul li {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}*/

/*
= Cart
-------------------- */
.woocommerce-cart header.section_header { display: none; }
.shop_table_responsive.cart.desktop { display: none; }
.wc-proceed-to-checkout.desktop { display: none; }

.woocommerce-cart .woocommerce-message {
    margin-bottom: 50px;
}

.shop_table_responsive.cart.mobile {
	font-family: 'Roboto',sans-serif;
}

.shop_table_responsive.cart.mobile .product-thumbnail,
.shop_table_responsive.cart.mobile .product-name {
    float: left;
    display: block;
}

.shop_table_responsive.cart.mobile .product-thumbnail {
    width: 30%;
}

.shop_table_responsive.cart.mobile .product-name {
    width: 70%;
}

.shop_table_responsive.cart.mobile .product-name,
.shop_table_responsive.cart.mobile .product-thumbnail {
	padding-bottom: 25px;
}

.shop_table_responsive.cart.mobile .product-name .product-name-n {
	padding-left: 10px;
}

.shop_table_responsive.cart.mobile .product-name .product-name-n a {
	color: #595959;
}

.shop_table_responsive.cart.mobile .more-details-w {
	clear: both;
	padding-bottom: 25px;
}

.shop_table_responsive.cart.mobile .product-others-table {
	margin-bottom: 50px;
}

.shop_table_responsive.cart.mobile .product-others-right .amount {
	font-weight: bold;
}

.shop_table_responsive.cart.mobile .product-others-element.subtotal {
	font-weight: bold;
	color: #5789c7;
}

.cart-title-w {
    float: left;
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 27px;
    border-bottom: 2px solid #5789c7;
}

.woocommerce-cart tr th {
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .025rem;
    text-transform: uppercase;
    color: #5789c7;
    padding: 0 10px 13px 10px;
}

.woocommerce-cart tr th.product-name {
    text-align: left;
}

.woocommerce-cart tr.cart_item {
    font-family: 'Roboto', sans-serif;
}

.woocommerce-cart tr.cart_item td {
    border-top: 1px solid #e7e6e6;
    padding: 30px 10px;
    text-align: center;
}

.woocommerce-cart tr.cart_item td.product-thumbnail { width: 15%; }
.woocommerce-cart tr.cart_item td.product-discount, .woocommerce-cart tr.cart_item td.product-iva, .woocommerce-cart tr.cart_item td.product-remove, .woocommerce-cart tr.cart_item td.product-remove-nonajax { width: 5%; }
.woocommerce-cart tr.cart_item td.product-price, .woocommerce-cart tr.cart_item td.product-subtotal { width: 10%; }
.woocommerce-cart tr.cart_item td.product-quantity { width: 12%; }

.woocommerce-cart tr.cart_item td.product-thumbnail img {
	max-width: 50%;
}

.woocommerce-cart tr.cart_item td.product-name {
    text-align: left;
    width: 38%;
}

.woocommerce-cart tr.cart_item td.product-name a {
    text-decoration: none;
    color: #595959;
    font-size: 13px;
}

.woocommerce-cart tr.cart_item td.product-price {
	font-weight: 400;
}

.woocommerce-cart tr.cart_item td.product-quantity input {
	float: left;
	width: 40%;
	border: 1px solid #92b2db;
	text-align: center;
}

.woocommerce-cart tr.cart_item td.product-quantity span {
    cursor: pointer;
	float: left;
	width: 30%;
	background: #92b2db;
	color: #fff;
	padding: 5px 0;
}

.woocommerce-cart tr.cart_item td.product-subtotal {
	font-weight: 400;
	color: #5789c7;
}

/*.woocommerce-cart tr.cart_item:first-child td {
    border-top: 1px solid #000;
}*/

.woocommerce-cart tr.cart_item:last-child td {
    border-bottom: 1px solid #000;
}

.woocommerce-cart .more-details {
    float: right;
    margin-top: 15px;
    margin-bottom: -15px;
    padding-right: 20px;
}

.product-resp-more-details a.more-details {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
}

.woocommerce-cart .product-others-table,
.woocommerce-cart .product-others-element,
.product-item-cart-responsive .product-remove {
    clear: both;
}

.product-item-cart-responsive {
	margin-bottom: 30px;
	border-bottom: 1px solid #000;
}

.woocommerce-cart .product-others-element {
    border-top: 1px solid #e7e6e6;
}

.woocommerce-cart .product-others-element .product-others-right .quantity {
	display: none;
}

.woocommerce-cart .product-others-element:first-child,
.woocommerce-cart .product-others-element:last-child {
    border: none;
}

.product-others-left {
    float: left;
    display: inline-block;
    padding: 10px 0;
}

.product-others-right {
    float: right;
    display: inline-block;
    padding: 10px 0;
}

.shop_table_responsive.cart.mobile .product-remove {
	padding-bottom: 30px;
	border-bottom: 1px solid #000;
}

.shop_table_responsive.cart.mobile .product-remove a {
	color: #595959;
}

.shop_table_responsive.cart.mobile .product-remove .bold {
	font-size: 24px;
	font-weight: 800;
}

.woocommerce-cart .cart_totals {
    font-family: 'Roboto',sans-serif;
}

.woocommerce-cart .cart_totals h2 {
    display: none;
}

.woocommerce-cart .cart_totals table {
    float: right;
}

.woocommerce-cart .cart_totals table {
    line-height: 30px;
    margin: 20px 0;
    width: 250px;
}

.woocommerce-cart .cart_totals table tr th,
.woocommerce-cart .cart_totals table tr td {
    text-align: right;
}

.woocommerce-cart .cart_totals table tr th {
    text-transform: capitalize;
    color: #595959;
}

.woocommerce-cart .cart_totals table tr:last-child {
    color: #5789c7;
    text-transform: uppercase;
}

.woocommerce-cart .cart_totals table tr:last-child th {
    font-weight: 800;
}

.shop_table.shop_table_responsive.cart.mobile td.product-name a {
    display: block;
}

.shop_table.shop_table_responsive.cart td.product-remove a, .shop_table.shop_table_responsive.cart td.product-remove-nonajax a {
    text-decoration: none;
    color: #595959;
    font-weight: 800;
    font-size: 28px;
}

.woocommerce-cart .cart-collaterals {
    border-top: 1px solid #b2b2b5;
}

.woocommerce-cart .cart_totals .wc-proceed-to-checkout {
    border-top: 2px solid #5789c7;
    padding-top: 20px;
    clear: both;
    text-align: right;
    margin-bottom: 40px;
}

.cart-title-w .cart-proceed {
    text-align: right;
}

.shop-info-sq-w {
	clear: both;
}

.shop-info-sq-content {
    margin: 20px;
    padding: 20px;
    background: #f0f0f0;
    min-height: 125px;
}

.shop-info-sq-content h4 {
    color: #5789c7;
    font-size: 14px !important;
    font-weight: 800;
}

.shop-info-sq-1 .shop-info-sq-content h4::before {
	background: url("../svg/seguridad_2.svg") no-repeat center;
}

.shop-info-sq-2 .shop-info-sq-content h4::before {
	background: url("../svg/seguridad_1.svg") no-repeat center;
}

.shop-info-sq-content h4::before {
	content: '';
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}

.shop_table_responsive.cart.mobile:last-child .product-remove{border:none!important;}

/* THANK YOU PAGE */
.woocommerce-thankyou-order-received { text-align: center; font-family: 'Raleway', sans-serif; font-size: 14px; margin-bottom: 25px; }
.woocommerce-thankyou-order-received .par-1 { font-weight: 500; margin-bottom: 25px; }
.woocommerce-thankyou-order-received .par-2 .customer-mail { color: #5789c7; font-weight: 500; }
.woocommerce-thankyou-button-return { text-align: center; margin-bottom: 60px; }
.thankyou-block-left { width: 55%; float: left; margin-right: 3%; }
.thankyou-order-data-w { width: 42%; float: left; }
.thankyou-address-data { margin-bottom: 20px; }
.thankyou-address-data, .thankyou-shipping-data, .thankyou-order-data { border: 1px solid #dedede; padding: 22px; }
.thankyou-block-left, .thankyou-order-data-w { font-family: 'Roboto', sans-serif; font-weight: 200; }
.thankyou-block-left h2, .thankyou-order-data-w h2 { font-family: 'Raleway', sans-serif; font-weight: 600; }
.thankyou-address-data span.left { color: #5789c7; }
.thankyou-address-data h2 { margin-bottom: 20px !important; }
.thankyou-address-data .data-customer { font-size: 13px; line-height: 25px; }
.data-customer-cp, .data-customer-state {
    display: inline-block;
    margin-right: .5rem !important;
}
.data-customer-cp { margin-right: 15px; }
.thankyou-shipping-data { font-size: 13px; }
.thankyou-shipping-data h2 { margin-bottom: 10px; }
.thankyou-shipping-data .thankyou-shipping-data-1 { margin-bottom: 20px; }
.thankyou-order-data tr th { font-family: 'Raleway', sans-serif; color: #92b2db; font-weight: 200; font-size: 12px; text-align: left; }
.thankyou-order-data tr th.product-total { font-weight: 600; }
.thankyou-order-data tr td { padding: 10px 0; border-bottom: 1px solid #f7f7f7; }
.thankyou-order-data tr:last-child td { border: none; }
.thankyou-order-data tr td.product-name img { max-width: 50%; display: block; margin-bottom: 10px; }
.thankyou-order-data tr td.product-qty { font-size: 14px; text-align: center; vertical-align: bottom; }
.thankyou-order-data tr td.product-qty strong { font-weight: 200; }
.thankyou-order-data tr td.product-total { font-size: 14px; text-align: right; vertical-align: bottom; }
.thankyou-order-data tr td a { font-size: 12px; color: #000; }
.thankyou-order-data-totals div { border-top: 1px solid black; margin-top: 13px; padding: 13px 0; font-family: 'Roboto', sans-serif; font-size: 13px; }
.thankyou-order-data-totals div:last-child { padding: 13px 0; margin-top: 0; border-top: 2px solid #5789c7; color: #5789c7; font-weight: 600; text-transform: uppercase; }
.thankyou-order-data-totals div span:first-child { padding-left: 80px; }
.thankyou-order-data-totals div span:last-child { float: right; }

@media (max-width: 479px) {
	.cart-title-w { border: none; }

	.cart-title-w .cart-proceed {
		margin-top: 30px;
	}

	.cart-collaterals {
		border-top: 2px solid #5789c7 !important;
	}
	
	.cart_totals {
		background: #f1f1f1;
	}
	
	.cart_totals table {
		padding: 15px;
	}

	.cart_totals table th {
		padding: 0;
	}
	
	.cart_totals table {
		width: 100% !important;
		margin: 0 !important;
	}
	
	.woocommerce-cart .cart_totals .wc-proceed-to-checkout {
		border: none;
	}
	
	.woocommerce-cart .cart_totals .button-proceed,
	.woocommerce-cart .cart_totals .button-return {
		clear: both;
		margin-left: 15px;
	}
	
	.woocommerce-cart .cart_totals .button-return {
		margin-bottom: 40px;
	}
	
	.shop-info-sq-content {
		background: none;
		padding: 0;
		margin: 0;
	}

	.shop-info-sq-content h4 {
		text-align: center;
	}
	
	.shop-info-sq-content h4::before {
	    display: block;
	    margin: 0 auto 10px auto;
	}

	.shop-info-sq-content p {
		text-align: justify;
	}
    
    .thankyou-block-left, .thankyou-order-data-w { width: 100%; }
    .thankyou-shipping-data-w { margin-bottom: 20px; }
	
}

@media (min-width: 480px) {
    .product .e24-product-mobile,
    .shop_table_responsive.cart.mobile { display: none; } {
        display: none;
    }

    .product .e24-product-desktop,
    .shop_table_responsive.cart.desktop {
        display: block;
    }

    .product span.tagged_as.desktop {
        display: block;
    }

    .product .e24-product-desktop .e24-product-prices {
        width: 30%;
        display: inline-block;
    }

    .product .e24-product-content {
        width: 70%;
        display: inline-block;
        margin-top: 0;
        vertical-align: top;
    }
    
    .product-quantity .quantity-mobile {
    	display: none;
    }

    .e24-product-content .e24-product-content-text,
    .e24-product-content .e24-product-attributes,
    .e24-product-content span.tagged_as {
        padding: 0 0 0 30px;
    }

    div.related.products ul li {
        -webkit-flex-basis: 24%;
        flex-basis: 24%;
    }
    
    .cart-title-w .cart-title,
    .cart-title-w .cart-proceed {
        float: left;
        width: 50%;
    }
    
    .wc-proceed-to-checkout.desktop { display: block; }
    .wc-proceed-to-checkout.mobile { display: none; }
    
    .wc-proceed-to-checkout .button-proceed {
		float: right;
		width: auto;
		display: inherit;
		text-align: right;
		clear: initial;
		margin: 0;
	}

    .shop-info-sq {
        float: left;
        width: 50%;
    }
}

/*--------------------------------------*/
/* General
/*--------------------------------------*/
.clearfix { clear:both; }
form .error-field { border: 1px solid #f66250 !important; }
form .ajax-loader { display: none; }

/*--------------------------------------*/
/* Checkout page
/*--------------------------------------*/
.woocommerce-info { margin-bottom:10px; font-size:13px; }
.before-checkout-message { margin-bottom:20px; font-size:13px; }
.woocommerce-info-semfycuser { margin-bottom:10px; font-size:19px; font-weight:bold; }
.before-checkout-message { margin-bottom:20px; font-size:13px; }

.woocommerce-checkout .section_header { margin-bottom:20px; }
.woocommerce-checkout .step-title { text-transform:uppercase; font-weight:bold; margin-bottom:20px; }
.woocommerce-checkout .step-num { display:inline-block; padding:8px 11px; background-color:#5789c7; color:#fff; margin-right:4px; }

/*.woocommerce-checkout-review-order-table { text-align:left; }*/

.woocommerce-checkout input { margin-top:0; }
.woocommerce-checkout label { font-weight:400; font-size:13px; }
.woocommerce-checkout label, .woocommerce-checkout label img { vertical-align:middle; }

.woocommerce-checkout input[type="checkbox"],
.woocommerce-checkout input[type="radio"] { width: auto; margin:0; padding:0; }

.woocommerce-checkout .checkout_box { border:1px solid #e0e3e3; padding:10px 10px 20px; margin-bottom: 20px; }
.woocommerce-checkout .col_customer_details { width:31.91%; float:left; margin-right:1.06%; }
.woocommerce-checkout .col_order_review { width:66.49%; float:left; }
.woocommerce-checkout .col_order_review .col_order_payments { width:44.8%; float:left; margin-right:1.6%; }
.woocommerce-checkout .col_order_review .col_order_items { width:53.6%; float:left; }

.woocommerce-checkout .checkout_shipping .shipping_info { font-size:13px; color:#5789c7; }
.woocommerce-checkout .checkout_shipping .shipping_info .amount { display: block; font-size:13px; color:#595959; }
.col_order_review #payment ul li { list-style:none; }

.col_customer_details label { color:#5789c7; }
.col_customer_details .input-text { border-color:#92b2db; }
.col_customer_details .select2-container .select2-choice { border:1px solid #92b2db; border-radius:0; }
.col_customer_details .select2-container .select2-choice > .select2-chosen { height:23px; padding-top:5px; }
.col_customer_details .select2-container .select2-choice .select2-arrow { width: 30px; background-color:#92b2db; border-radius:0; color:#fff; }
.col_customer_details .select2-container .select2-choice .select2-arrow b::after { border-top-color:#fff; left:62%; }
.col_customer_details .select2-dropdown-open .select2-choice .select2-arrow b::after { border-top-color: transparent; border-bottom-color: #fff; }
#billing_postcode_field { width:35.71%; margin-right:3.57%; float:left; }
#billing_city_field { width:60.72%; float:left; }

.select2-drop.select2-drop-above.select2-drop-active, .select2-drop-active { border:1px solid #92b2db; }
.select2-drop-active { padding-top: 5px; }
.select2-drop.select2-drop-above .select2-search input { margin-top:0; }

.col_order_review #payment .about_paypal { display:none; }
.col_order_review #payment input[type="radio"] { height:32px; width: 20px; vertical-align:middle; }
.col_order_review #payment .payment_box { padding-left:23px; margin-top:5px; }
.col_order_review #payment .payment_method_paypal label img { margin-left:5px; }

.col_order_items { font-family: 'Roboto',sans-serif; }

.woocommerce-checkout-review-order-table { border-collapse: collapse; font-size:13px; }
.woocommerce-checkout-review-order-table thead th { text-transform:uppercase; color:#92b2db; font-weight:normal; }
/*.woocommerce-checkout-review-order-table thead th.product-total { font-weight:bold; }*/
.woocommerce-checkout-review-order-table .attachment-shop_thumbnail { width:55px; height:55px; }
.woocommerce-checkout-review-order-table .cart_item_image {
    padding-top:10px;
    padding-bottom:10px;
}
.woocommerce-checkout-review-order-table .cart_item td { border-bottom:1px solid #e0e3e3; padding-bottom:10px; }
.woocommerce-checkout-review-order-table .product-name { width:58.57%; }
.woocommerce-checkout-review-order-table .product-qty { text-align: center; width:23.12%; }
.woocommerce-checkout-review-order-table .product-total { text-align: right; width:18.31%; }
.woocommerce-checkout-review-order-table .cart_item .product-name { font-size:12px; }
.woocommerce-checkout-review-order-table .cart_item:last-child td { border-bottom:1px solid #555; }
.woocommerce-checkout-review-order-table tfoot th { padding:10px 0 10px 25.55%; vertical-align:top; }
/*.woocommerce-checkout-review-order-table tfoot td { text-align:right; padding:10px 0; vertical-align:top; }*/
.woocommerce-checkout-review-order-table tfoot .order-total { text-transform:uppercase; color:#5789c7; }
.woocommerce-checkout-review-order-table tfoot .order-total th,
.woocommerce-checkout-review-order-table tfoot .order-total td { border-top:2px solid #5789c7; }

.woocommerce-checkout-review-order-table .place-order { padding-top: 5px; }
/*.woocommerce-checkout-review-order-table .place-order .button { display: block; width:60%; text-transform:uppercase; text-align:center; padding:10px 0 !important; background-color:#5789c7; color:#fff; margin:0 auto; }*/

/*--------------------------------------*/
/* My orders
/*--------------------------------------*/
/*.my_account_orders { border-collapse: collapse; width: 100%; }
.my_account_orders thead th { text-transform:uppercase; color:#92b2db; padding: 14px 20px 14px 0; border-bottom: 1px solid #595959; font-weight: normal; font-size: 0.8125em; text-align: left; }
.my_account_orders tbody td { padding: 20px 20px 20px 0; font-size: 0.75em; font-weight: 400; border-bottom: 1px solid #e7e6e6; }
.my_account_orders tbody tr:last-child td { border-bottom: none; }*/

.myorder-items-mobile { display: none; margin-top: 20px; }
.myorder-items-mobile .myorder-item { text-transform: uppercase; font-size: 0.8125em; margin-bottom: 20px; border-bottom: 1px solid #e7e6e6; }
.myorder-items-mobile .myorder-item:last-child { border-bottom:none; }
.myorder-items-mobile .myorder-item .item-row { margin-bottom: 20px; }
.myorder-items-mobile .myorder-item .item-title { float: left; width: 50%; color: #92b2db; }
.myorder-items-mobile .myorder-item .item-value { float: left; width: 50%; text-align: right; }

/*--------------------------------------*/
/* My downloads
/*--------------------------------------*/
.digital-downloads { padding: 0; }
.digital-downloads li { list-style: none; padding: 20px 0; border-bottom: 1px solid #e7e6e6; }
.digital-downloads li:last-child {  border-bottom: none; }
.digital-downloads li img { width:90px; height: auto; }
.digital-downloads .download-img { width: 13.1%; float: left; padding-right: 2.91%; min-width:90px; }

.digital-downloads .download-info { width: 83.99%; float: left; color: #595959; }
.digital-downloads .download-info a { color: #595959; font-weight: 500; }
.digital-downloads .download-info .info { display: block; margin-bottom: 10px; }
.digital-downloads .download-info strong { font-weight: 500; }

.digital-downloads .download-info .info-bottom .download-tags { float: left; }
.digital-downloads .download-info .info-bottom .download-tags .tag { display: inline-block; background-color: #e7e6e6; padding: 3px; }
.digital-downloads .download-info .info-bottom .download-btn { float: right; }
.digital-downloads .download-info .info-bottom .download-btn a { display: inline-block; padding: 8px 26px; border: 1px solid #5789c7; text-transform: uppercase; color: #5789c7; }

@media screen and (max-width:910px){
	#billing_postcode_field { width:auto; float:none; margin-right:0; }
	#billing_city_field { width:auto; float:none; }
}

@media screen and (max-width:700px){
	/*--------------------------------------*/
	/* Checkout page
	/*--------------------------------------*/
	.woocommerce-checkout .col_customer_details { width:auto; float:none; margin-right:0; }
	.woocommerce-checkout .col_order_review { width:auto; float:none; }
	.woocommerce-checkout .col_order_review .col_order_payments { width:auto; float:none; margin-right:0; }
	.woocommerce-checkout .col_order_review .col_order_items { width:auto; float:none; }

    #billing_postcode_field { width:35.71%; margin-right:3.57%; float:left; }
    #billing_city_field { width:60.72%; float:left; }
}

@media screen and (max-width:480px){
	/*--------------------------------------*/
	/* My orders
	/*--------------------------------------*/
	.my_account_orders { display: none; }
	.myorder-items-mobile { display: block; }
}

@media screen and (max-width:320px){
	/*--------------------------------------*/
	/* Checkout page
	/*--------------------------------------*/
	#billing_postcode_field { width:auto; float:none; margin-right:0; }
	#billing_city_field { width:auto; float:none; }
}

.stock { display: none; }